<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <a href="#" class="hover-animate">
                    <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +6285851464583
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <a href="#" class="hover-animate">
                    <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> febriahmadn@gmail.com
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <a href="#" class="hover-animate">
                    <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span> Kediri, Indonesia
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 text-right">
                <span class="copyright">Copyright © 2024</span>
            </div>
        </div>
    </div>
</footer>